.img-apartados{
    margin: auto;
    display: block;
    padding: 5%;
    width: 50%;
}

.apartado-1{
    cursor: pointer;
    background: linear-gradient(to bottom, #f9d2d2, #ffaba8, #ff8279, #ff5546, #ff0202);
}
.apartado-1:active{
    transform: scale(0.99);
}

.apartado-2{
    cursor: pointer;
    background:linear-gradient(to bottom, #f9f9d7, #fbfbb1, #fdfd8a, #fefe5c, #ffff04);
}
.apartado-2:active{
    transform: scale(0.99);
}

.apartado-3{
    cursor: pointer;
    background: linear-gradient(to bottom, #cafbca, #aafea8, #88ff83, #5fff57, #00ff00);
}
.apartado-3:active{
    transform: scale(0.99);
}

.apartado-4{
    cursor: pointer;
    background: linear-gradient(to bottom, #eff4f9, #b9d1ec, #87addf, #5589d2, #1266c2);
}
.apartado-4:active{
    transform: scale(0.99);
}

.card-text-cac{
    font-size: 2.5vh;
    font-weight: bold;
    color: black;
    text-align: center;
}