.cerrar-sesion {
    cursor: pointer;
    color: #D51F1F;
}

.title-bar {
    background-color: #890831;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 15px;
    font-family: Open Sans, lucida grande tahoma, verdana, arial, sans-serif;
    font-size: 19px;
}

.nav_style{
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 23%, #f5f5f5 57%, #cfcfcf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,#ffffff), color-stop(57%,#f5f5f5), color-stop(100%,#cfcfcf));
    background: -webkit-linear-gradient(top, #ffffff 23%,#f5f5f5 57%,#cfcfcf 100%);
    background: -o-linear-gradient(top, #ffffff 23%,#f5f5f5 57%,#cfcfcf 100%);
    background: -ms-linear-gradient(top, #ffffff 23%,#f5f5f5 57%,#cfcfcf 100%);
    background: linear-gradient(to bottom, #ffffff 23%,#f5f5f5 57%,#cfcfcf 100%);
    border-top: 1px solid #CCCCCC;
    border-bottom: solid thin #A6A6A6;
    border-left: thin solid #ECECEC;
    border-right: thin solid #ECECEC;
    font-size: 13px;
}

.nav-link{
    color: #595959 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 3.5rem !important;
}
