.app-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #2f3747;
    color: white;
}


.app-footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #2f3747;
    color: white;
}


.app-content {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}